output.txt
node_modules
dist
.mastra
.env.development
.env
*.db
*.db-*
*.duckdb
*.duckdb.wal
*.wal
*.shm
mastra.duckdb
mastra.duckdb.wal
src/mastra/public/mastra.duckdb
src/mastra/public/mastra.duckdb.wal
.netlify
.vercel
